<!DOCTYPE HTML>
<html ng-app="myQuiz">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>English Grammar Test!</title>
		<link rel="stylesheet" type="text/css" href="quiz.css">
	</head>
	<body>

		
		<div id="myQuiz" ng-controller="QuizController">
	
		<!-- <div class="progress"> {{totalQuestions}} </div> -->
		<!--<div class="answered correct"></div>  -->
		<!-- <div class="on"></div> -->

			<div class="progress"> 

				<div class="
				{{	($index === activeQuestion) ? 'on' : 'off'}} 
				{{ 	(myQuestion.questionState === 'answered') ? 'answered' : 'unanswered'	}}
				{{	(myQuestion.correctness === 'correct') ? 'correct': 'incorrect'	}}
				"ng-repeat="myQuestion in myQuestions"> </div><!-- loop through all variables in myQuestions array
				and therefore, it will display one <div> whenever a question is called  -->


			</div>
				

			<div class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active'}} ">
				
				<h2>Welcome</h2>
				<p>Click Begin to test your English Grammar</p>
				<p class="btn" ng-click="activeQuestion = 0">Begin</p> 
			
			</div> 

			<div class="question

			{{	$index === activeQuestion ? 'active' : 'inactive'	}}
			{{	myQuestion.questionState === 'answered' ? 'answered' : 'unanswered'}}

			"ng-repeat="myQuestion in myQuestions">
			
					<p class="txt">{{myQuestion.question}}</p> <!-- for every question in JSON file passing through myQuestion array -->
					<p class="ans"
					ng-class ="{
					image:Answer.image,
					selected:isSelected($parent.$index, $index),
					  correct:isCorrect($parent.$index, $index)
					}"

					ng-style="{ 'background-image':'url({{Answer.image}})' }"



					ng-click="SelectAnswer($parent.$index,$index)"
					ng-repeat="Answer in myQuestions[$index].answers">
					{{Answer.text}}
					</p><!-- keep calling answers for every question value by index value -->


					<div class="feedback">
						<p ng-show="myQuestion.correctness === 'correct'"> You Are <strong>correct</strong>.</p>
						<p ng-show="myQuestion.correctness === 'incorrect'"> OOPS! This is not correct.</p>
						<p>{{myQuestion.feedback}}</p>
						<div class="btn" ng-click="selectContinue()"> Continue</div>
          			 </div>
			
			</div>


			<div class="results {{	(totalQuestions ===activeQuestion) ? 'active' : 'inactive'}}">

				<h3>Results</h3>
					<p>You Scored {{percentage}}% by correctly answering {{score}} of the total {{totalQuestions}} questions.</p>

					<p>Use the links bellow to challenge your friends.</p>

					<div class="share" ng-bind-html="CreateShareLinks(percentage)"></div>
		
					
			</div>


			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
			<script type="text/javascript" src="quiz.js"></script>



	</body>
</html>